<section id="home" class="hero borde-interno">
    <div class="hero-content">
        <span class="name-white author-tag">Thomas PerezG</span>
        <h1 class="realistic-text">Transforming Ideas into Digital Reality ✨</h1>
        <p class="realistic-text">Web Developer Specialized in Creating Unique Experiences 🌟</p>
        <p class="realistic-text" id="subtitle">We create the perfect website you need and transform your ideas into innovative mobile applications, allowing you to enjoy their benefits right away.</p>
    </div>
</section>