<section id="home" class="hero">
    <div class="hero-content">
        <span class="author-tag animate-on-scroll">Thomas PerezG</span>
        <h1 class="animate-on-scroll">Transforming Ideas into Digital Reality ✨</h1>
        <p class="animate-on-scroll">Web Developer Specialized in Creating Unique Experiences 🌟</p>
        <p class="animate-on-scroll" id="subtitle">We will create the perfect website you needed so quickly that you can start enjoying its great benefits right away</p>
    </div>
</section>